.d1{background-color: lightslategrey;
width: 250px;
height: 700px;
float: left;

}
.d2{float: right;
    position: relative;
    left: -350px;

.o{
    float: right;
}

}
.button1{
background-color: blue;
color: white;
position: relative;
left: 30px;
cursor: pointer;

}
.buttoni{background-color: skyblue;
    cursor: pointer;


}

.buttonii{background-color: skyblue;
    cursor: pointer;


}
